@import "src/helpers/colors";

.input {
  padding: 18px 16px;
  border: 1px solid #d6d8da;
  border-radius: 8px;
  font-size: 16px;
  flex-grow: 1;
  outline: none;
  transition: .25s;

  &:hover {
    border-color: #757F86;
  }

  &:focus {
    border-color: #757F86;
    color: #323E48;
  }

  &::placeholder {
    color: $coal4;
  }
}
