@import "./src/helpers/colors";

.checkbox {
  border: 1px solid $coal5;
  border-radius: 4px;
  background-color: #fff;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.active {
    background-color: $ruby1;
    border-color: $ruby1;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    &.start_check {
      align-items: flex-start;
    }

    & * {
      cursor: pointer;
    }
  }

  &.small {
    width: 16px;
    height: 16px;
    min-width: 16px;
  }

  &.medium {
    width: 40px;
    height: 40px;
    border-radius: 8px;

    svg {
      width: 17px;
      height: 12px;
    }
  }
}

