.title {
  font-family: 'Geometria', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #0C0C0D;
  margin-bottom: 64px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: calc(50% - 12px);
  width: 100%;

  & > * {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.column_66 {
  max-width: 66%;
}

.mb24 {
  margin-bottom: 24px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb64 {
  margin-bottom: 64px;
}


.option_title {
  font-size: 16px;
  color: #323E48;
  margin-bottom: 16px;
}

.row {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 24px;

  & > * {
    flex-grow: 1;
    margin-right: 24px;

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  &.align_end {
    align-items: flex-end;
  }
}

.title_block {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #323E48;
  margin-bottom: 24px;
  transition: .25s;

  &:hover{
    color: #D41367;
  }
}

.company {
  margin-bottom: 64px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.input {
  border: 1px solid #D6D8DA;
  width: 100%;
  outline: none;
  padding: 20px 16px;
  font-size: 16px;
  border-radius: 8px;
  transition: .25s;

  &:hover {
    border-color: #757F86;
  }

  &:focus {
    border-color: #757F86;
    color: #323E48;
  }

  &::placeholder {
    color: #8E909B;
  }

  &.error {
    border-color: #EB5757;
    color: #EB5757;
  }

  &__wrapper {
    position: relative;
    width: 100%;

    .name {
      color: #8E909B;
      font-size: 14px;
      margin-bottom: 8px;
    }


    .lock, .icon {
      position: absolute;
      top: 46px;
      right: 16px;

      & > * {
        color: #323E48;
      }
    }
  }

  &.locked {
    border: none;
    background: #F3F4F4;
    color: #323E48;
    padding-right: 40px;
  }
}

.name_option {
  color: #8E909B;
  font-size: 14px;
  margin-bottom: 8px;
}

.checks {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    p {
      margin-left: 8px;
      color: #323E48;
    }
  }
}

.buttons {
  display: flex;
  margin-bottom: 24px;

  & > * {
    margin-right: 24px;
  }
}

.documents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & > * {
    margin-right: 16px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.download {
  &__item {
    width: fit-content;
    max-width: 170px;

    .icon {
      flex-direction: column;
      padding: 11px 19px;
      background: #F3F4F4;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      max-width: 70px;
      margin-left: auto;
      margin-right: auto;

      .format {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #D41367;
      }

      .size {
        font-size: 12px;
        line-height: 18px;
        color: #8E909B;
      }
    }

    .name {
      white-space: nowrap;
      overflow: hidden;
      font-size: 12px;
      line-height: 18px;
      color: #8E909B;
      text-wrap: none;
    }
  }

}

.scan {

  &__right {
    background: #F0F2F5;
    border-radius: 8px;
    width: 100%;
    max-width: 461px;
    padding: 23px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .qr {
      width: 80px;
      height: 80px;
      background-color: #cbcbcb;
      border-radius: 10px;
    }

    p {
      margin-left: 32px;
      font-size: 14px;
      line-height: 22px;
      color: #323E48;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    color: #8E909B;
    font-size: 14px;
    margin-bottom: 16px;
  }

  &__or {
    color: #323E48;
    text-align: center;
  }
}
